@page "/"

<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <h2 class="text-center">Bem Vindo <b>GSV</b></h2>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <p class="text-center">
                Seja Bem vindo ao Serviço <b>GSV</b>(Gestão Servicos Varejistas), uma plataforma de serviços responsaveis por facilicar processos no ramo varejista,
                Desde a comunicação com Secretaria da Fazenda, trabalhando com Nota Fiscal,
                ate a administração e manutenção de resultados e segurança do seu negocio Online!
            </p>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Parceiros</h5>
                    <p>Acesse aos Parceiros que possibilitam o projeto GSV!</p>
                    <br />
                    <a href="/" class="btn btn-primary">Clique Aqui</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Sobre</h5>
                    <p>Conheça mais do Projeto GSV e sua trajetória!</p>
                    <br />
                    <a href="/" class="btn btn-primary">Clique Aqui</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Assinaturas</h5>
                    <p>Veja nossas Assinaturas e os Beneficios para seu Négocio!</p>
                    <br />
                    <a href="/" class="btn btn-primary">Clique Aqui</a>
                </div>
            </div>
        </div>
    </div>
</div>
