@page "/Pacotes"



<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <h2 class="text-center">Assinaturas <b>GSV</b></h2>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-lg-4">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top">
                <div class="card-body  text-center">
                    <h5 class="card-title">Assinatura Simples</h5>
                    <h3>R$ 299,00</h3>
                    <br />
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Acesso a Tela de Gerenciamentos</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Conexão com Sefaz e Receita Federal</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Segurança avançada Requisições</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Apuração de Resultados nas Compras</li>
                    </ul>
                    <br />
                    <a href="/CadastrarPedido/1" class="btn btn-primary">Assinar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card " style="width: 18rem; ">
                <img class="card-img-top">
                <div class="card-body  text-center">
                    <h5 class="card-title">Assinatura Gold</h5>
                    <h4 style="text-decoration-line: line-through;">R$ 599,00</h4>
                    <h3 >R$ 499,00</h3>
                    <br />
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Acesso a Tela de Gerenciamentos</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Conexão com Sefaz e Receita Federal</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Segurança avançada Requisições</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Apuração de Resultados nas Compras</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Dashboards Personalizados</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Monitoria de Requisições e Acompanhamento de Especialista</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Servidor Maior Desempenho</li>
                    </ul>   
                    <br />
                    <a href="/CadastrarPedido/1" class="btn btn-primary">Assinar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <div class="card" style="width: 18rem; ">
                <img class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">Assinatura Silver</h5>
                    <h3>R$ 399,00</h3>
                    <br />
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Acesso a Tela de Gerenciamentos</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Conexão com Sefaz e Receita Federal</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Segurança avançada Requisições</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Apuração de Resultados nas Compras</li>
                        <li class="list-group-item list-group-item-default" style="font-size:12px;">Dashboards Padrões</li>
                    </ul>

                    <br />
                    <a href="/CadastrarPedido/1" class="btn btn-primary">Assinar</a>
                </div>
            </div>
        </div>




    </div>
</div>
