@page "/Sobre"

<br />
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <h2 class="text-center">Sobre <b>GSV</b></h2>
        </div>
        <div class="col-lg-4">
        </div>
    </div>
    <br />
    <br />
   
    <div class="row">
        <div class="col-lg-3">
            <div class="card" style="height: 150px;">
                <div class="card-body">
                    <p class="text-center">
                        Facilidade emissão nota fiscal, serviço com conexão direta e seguindo todos protocolos de segurança necessarios
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="height: 150px;">
                <div class="card-body">
                    <p class="text-center">
                        Serviço de consulta para SPC e SERASA entre outras verificações para analise de credito online.
                    </p>
                </div>
            </div>
          
        </div>
        <div class="col-lg-3">
            <div class="card" style="height: 150px;">
                <div class="card-body">
                    <p class="text-center">
                        Sistema de apuração de resultados totalmente adptavel com Dashboards com personalização avançada.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" style="height: 150px;">
                <div class="card-body">
                    <p class="text-center">
                        Toda a poderosa segurança de criptografia e monitoramento de requisição mais avançado do mercado.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</div>
